.input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box-title {
    color: rgba(138, 146, 166, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    cursor: default; 
}

.input-box-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-box-body {
    display: flex;
    
    gap: 10px;
}

.input-box-input {
    flex: 1;
    border: 1px solid rgba(31, 67, 156, 1);
    border-radius: 6px;
    padding: 8px 16px;
    height: 30px;

    outline: none;

    background-color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;


}

.input-box-input::placeholder {
    color: rgba(31, 67, 156, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.input-box-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    width: 110px;
    height: 44px;

    background-color: rgba(227, 234, 255, 1);
    color: rgba(105, 138, 210, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    
    cursor: pointer;

}

.input-box-button:hover{
    background-color: rgb(188, 200, 236);
}


.input-box-button-disable {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    width: 110px;
    height: 44px;

    background-color: rgba(227, 234, 255, 1);
    color: rgb(181, 187, 200);

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    
    cursor: default;

}

.input-box-message {
    color: rgba(31, 67, 156, 1);

    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.input-box-message-error {
    color: rgb(235, 71, 26);

    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}